<body>
    
  
  <div class="conteiner">   
    
      <form (submit)="submitLocation(cityName,countryCode)" id="formulario1">     
          <h4>Aplicación de Clima</h4>   
          <img src="../assets/clima1.png" alt="clima" class="img">   
       
          <div class="form_conteiner">
            <div class="form_group">              
              <input type="text" class="form_input" placeholder=" " #cityName>
              <label class="form_label" > Ingrese Ciudad:</label>
              <span class="form_line"></span>
            </div> 

            <div class="form_group">              
              <input type="text" class="form_input" placeholder=" " #countryCode>
              <label class="form_label" for="surname"> Ingrese Pais:</label>
              <span class="form_line"></span>
            </div>          
            <div>
              <!-- <input type="submit" class="form_submit" value="Enviar"> -->
              <button class="form_submit"> Obtener Clima </button>
            </div>           
          </div>
       
        
      </form>  
  </div>  

  <div *ngIf="weather" class="card" >
            
    <p> Temperatura: {{weather.main.temp}}°C</p>
    <p> Humedad: {{weather.main.humidity}}°C</p>
    <p> Latitud: {{weather.coord.lat}}</p>
    <p> Longitud: {{weather.coord.lon}}</p>
    <p> Velocidad del Viento: {{weather.wind.speed}}</p>
    <p> Nubes: {{weather.clouds.all}}</p>          
  </div>
</body>
